$purple: rgb(76, 95, 225);
$black: rgb(112, 112, 112);
$berlinFont: 'Berlin Sans FB';
$candaraFont: 'Candara';

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: '#F7F7F7';
  div.ant-row{
    // background-color: red;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}
button.btnLogin {
  background: linear-gradient(#6474E4, #4C5FE1)!important;
  color: #fff;
  border: none;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#components-grid-demo-flex-order [class~='ant-row'] {
  background: rgba(128, 128, 128, 0.08);
}

.ant-space.ant-space-horizontal.ant-space-align-baseline{
  width: 100%;
  // padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-space-item{
    flex-grow: 1;
    div{
      .loginFormHeader{
        .logo{
          h3{
            color: $black;
            font-size: 2em;
            font-weight: 200;
            font-family: $berlinFont;
            b{
              color: $purple;
              font-weight: bold!important;
            }
          }
        }
        p{
          font-family: $candaraFont;
          font-size: 1em;
          color: $black;
        }
      }
      form#loginForm{
        label{
          color: $black;
        }
        input{
          border: none;
          font-family: $candaraFont;
        }
        input[type=text] {
          padding: 10px;
        }
        input[type=password] {
          padding: 6px;
        }
      }
      .loginSocialMedia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
          color: $black;
          font-size: 1em;
        }
        button{
          border-radius: 5px;
          border: none;
          margin: 5px;
          color: #fff;
          span{
            font-size: 1em;
          }
          &.btnLinkedin{
            background-color: rgb(10,102,194);
          }&.btnFacebook{
            background-color: rgb(57,86,147);
          }&.btngPlus{
            background-color: rgb(221,75,57);
          }
        }
      }
      .signInCall{
        margin-top: 10px;
        p{
          font-family: $candaraFont;
          color: $black;
          a{
            color: $purple;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

.ant-col.ant-col-16{

  max-width: 100%!important;
  width: 100%!important;
}
