@charset "UTF-8";
$theme-colors: (
    "info": tomato,
    "danger": teal
);
body{
  background: rgb(240,242,245);
  #root{
    background: '#F7F7F7';
    height: 100vh;
  }
}

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

// 8. Views
@import 'views/login'

